body{
    font-family: sans-serif;
    color: #777777;
    line-height: 26px;
}

h1{
    font-size: 1.7em;
}
h5{
    font-size: 0.6em;
}

.half_width{
    width: 50%;
    float: left;
}

.side-img{
    width: 50%;
    padding-left: 25%;
    padding-top: 5%;
}

.side-img2{
    width: 90%;
    padding-top: 15%;
    padding-right: 25%;
}

.name_color{
    color: purple;
}

.prime-btn{
    color: white;
    background-color: #8845f4;
    padding: 13px 42px 13px 42px;
    border-radius: 20px;
    text-decoration: none;
}

.container{
    padding-left:5%;
    display: inline-block;
}

.experiences{
    padding: 10px;
    margin: 30px;
    font-size: 1.5em;
    background-color: rgba(25, 30, 35, .4);
    border: 1px solid rgba(25, 30, 35, .4);
    border-radius: 20px;
    
}

.experience-item{
    padding: 15px;
    border: 1px solid rgba(25, 30, 35, .2);
    font-size: 0.4em;
    color: #8845f4;
    background-color: rgb(255, 255, 255);
    line-height: 15px;
}
