body{
    font-family: 'Grenze Gotisch', cursive;
    color: #777777;
    line-height: 35px;
    font-size : 1.3em;
}

h1{
    font-size: 2.5em;
    text-align: center;
    line-height: 35px;
}
h5{
    font-size: 0.4em;
}
.name_color{
   color: purple;
}

.half_width{
    width: 50%;
    float: left;
}

.side-img{
    width: 50%;
    padding-left: 25%;
    padding-top: 5%;
}

.side-img2{
    width: 90%;
    padding-top: 15%;
    padding-right: 25%;
}

.exp_title{
    font-family: 'Grenze Gotisch', cursive;
    color: purple;
    font-size: 0.4em;
    line-height: 15px;
}

.exp_description{
    font-family: 'Grenze Gotisch', cursive;
    color: gray;
    font-size: 0.3em;
    line-height: 10px;
}

.prime-btn{
    color: white;
    background-color: #8845f4;
    padding: 13px 42px 13px 42px;
    border-radius: 20px;
    text-decoration: none;
}

.container{
    padding-left:5%;
    display: inline-block;
}

.experiences{
    font-family: 'Grenze Gotisch', cursive;
    padding: 5px;
    margin: 35px;
    font-size: 1.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(25, 30, 35, .4);
    border-radius: 20px;
    
}

.experience-item{
    padding: 15px;
    margin: 5px;
    border: 1px solid rgba(25, 30, 35, .2);
    background-color: rgb(255, 255, 255);
}
